<!DOCTYPE html>
<html class="no-js" lang="{{ DEFAULT_LANG }}">

<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" id="responsive-style-css"  href="{{ SITEURL }}/theme/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" id="responsive-style-css"  href="{{ SITEURL }}/theme/css/highlight.css" type="text/css" media="all" />
    <link rel="stylesheet" id="responsive-style-css"  href="{{ SITEURL }}/theme/css/pygment.css" type="text/css" media="all" />
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    
    {% endblock head %}

  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="{{ SITEURL }}/theme/js/juuu.js"></script>
  {% raw %}
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['\$','\$'], ['\\\\(','\\\\)']]}});
  MathJax.Hub.Config({ TeX: { extensions: ["autobold.js"] }});
  MathJax.Hub.Config({ TeX: { equationNumbers: {autoNumber: "all"} } });
  MathJax.Hub.Config({ "HTML-CSS": { styles: { ".MathJax .mo, .MathJax .mi": {color: "black ! important"}} } });
  MathJax.Hub.Register.StartupHook("TeX Jax Ready", function () {
    MathJax.InputJax.TeX.Definitions.Add({
      macros: {
        expexpansion: ["Macro", "\\sum_{n=0}^{+\\infty} \\frac{x^n}{n!}"],
        taylor: ["Macro","\\sum_{n=0}^{+\\infty} \\frac{{#1}^{(n)} \\left({#2}\\right)}{n!} {\\left( {#3} - {#2} \\right)}^n", 3],
        taylorlog: ["Macro","\\sum_{n=1}^{+\\infty} {(-1)}^{n+1} \\frac{#1^n}{n}", 1],
        taylorsin: ["Macro","\\sum_{n=0}^{+\\infty} \\frac{{(-1)}^n}{(2n+1)!} {#1}^{2n+1}", 1]
      }
    });
  });
  </script>
  {% endraw %}
  <script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML">
  </script>
</head>

<body id="index" class="blog">
<div id="container" class="hfeed">

<a href="https://github.com/spseol/ulprog/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>

    <header id="header" >
        <div id="logo">
          <h1><a href="{{ SITEURL }}"><img src="{{ SITEURL }}/theme/image/default-logo.png" alt="ulplog" width ="99"/></a>
                {{ SITENAME }}</h1>
        </div> <!-- /#logo-->
        <nav id="menu" class="main-nav"><ul class="menu">
        {% for title, link in MENUITEMS %}
            <li {% if p == page %} class="active"{% endif %}><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in PAGES %}
            <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
          {% endfor %}
        {% else %}
          {% if DISPLAY_CATEGORIES_ON_MENU %}
            {% for cat, null in categories %}
              <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
          {% endif %}
        {% endif %}

        {% for category, articles in categories %}
          {% for article in articles %}
            {% if "zadání" in category.name %}
              <li><a href="{{ SITEURL }}/{{ article.url }}" >Zadání: {{ article.title }}</a></li>
            {% endif%}
          {% endfor %}
        {% endfor %}

            <li><a href="{{ SITEURL }}/tags.html" >Tagy</a></li>
            <li><a href="{{ SITEURL }}/archives.html" >Archiv</a></li>

        </ul></nav><!-- /#menu -->
    </header>
    <section id="wrapper" class="clearfix">
        <section id="content" class="grid col-620" >
            {% block content %}
                {% block content_title %}
                {% endblock %}
                <section class="breadcrumb-list">
                    {% block nav %}
                    {% endblock %}
                </section>

            {% endblock %}
        </section><!-- #content -->
        {% block widgets %}
        <section id="widgets" class="grid col-300 fit" >
            <!--
            {% block searchform %}
            <section id="widget-search" class="widget-wrapper widget_search">

                <form id="searchform" action="http://www.google.com/search" method="get">
                    <input id="q" class="field" type="text" placeholder="Search UlProg" name="q" ></input>
                    <input id="ie" name="ie" type="hidden" value="utf-8" ></input>
                    <input id="oe" name="oe" type="hidden" value="utf-8" ></input>
                    <input id="channel" name="channel" type="hidden" value="suggest" ></input>
                    <input id="searchsubmit" class="submit" type="submit" value="">
                </form>
            </section>
            {% endblock %}
            -->
            {% block categories %}
            <section id="widget-category" class="widget-wrapper widget_archive">
                <div class="widget-title">
                    Kategorie
                </div>
                <ul>
                    {% for category, articles in categories %}
                        <li><a href="{{ SITEURL }}/{{ category.url }}" >{{ category.name }} </a></li>
                    {% endfor %}
                </ul>
            </section>
            {% endblock %}

            {% block tagcloud %}
            <section id="widget-tagcloud" class="widget-wrapper widget_archive">
                <div class="widget-title">
                    TagCloud
                </div>
                <div>
                    {% for tag, size in tag_cloud %}
                    <span><a href="{{ SITEURL }}/{{ tag.url }}" style="font-size:calc(160% - {{size}}0%);"
                        >#{{ tag.name }}</a></span>
                    {% endfor %}
                </div>
            </section>
            {% endblock %}

            {% block social %}
            <section id="widget-social" class="widget-wrapper widget_archive">
                <div class="widget-title">Social</div>
                <ul>
                    {% for name, link in SOCIAL %}
                        <li><a href="{{ link }}">{{ name }}</a></li>
                    {% endfor %}
                </ul>
            </section>
            {% endblock %}


            {% block links %}
            <section id="widget-links" class="widget-wrapper widget_archive">
                <div class="widget-title">
                    Odkazy
                </div>
                <ul>
                    {% for name, link in LINKS %}
                        <li><a href="{{ link }}">{{ name }}</a></li>
                    {% endfor %}
                </ul>
            </section>
            {% endblock %}
            
        </section><!-- widgets -->
        {% endblock widgets %}
    </section><!-- /#wrapper -->
    {% block footer %}
    <footer id="footer" class="clearfix"><section class="footer-wrapper">
        <div class="grid col-940" >
            <div class="grid col-540"></div>
            <div class="grid col-380 fit" >
                <ul class="social-icons">
                    <!-- TO BE CONTINUED -->
                </ul>
            </div>
        </div>

        <div class="grid col-300 copyright" >
            <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" rel="license">
                <img src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" style="border-width:0" alt="知识共享许可协议"></img>
            </a>
        </div>
        <div class="grid col-300 ">

        </div>
        <div class="grid col-300 fit powered">
            Powered by <a href="http://getpelican.com/">Pelican</a> <br />
            which takes great advantage of <a href="http://python.org">Python</a>
        </div>
    </section></footer>
    {% endblock footer %}
</div>
</body>
</html>
